footer {
  background-color: #010409;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 50px;
}
#footer-item1-list,
#footer-item2-list,
#footer-item3-list,
#footer-item4-list {
  padding: 5px;
  padding-bottom: 30px;
  padding-top: 10px;
}
#footer-item1-list-item,
#footer-item2-list-item,
#footer-item3-list-item,
#footer-item4-list-item {
  padding-top: 5px;
}
#footer-item1-list-item-link:hover,
#footer-item2-list-item-link:hover,
#footer-item3-list-item-link:hover,
#footer-item4-list-item-link:hover {
  transition-duration: 0.5s;
  color: #bf0603;
}
#footer-down {
  background-color: #bf0603;
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
}
/*
  #VforVictory 🐝
  :akaruuU: (comment ca tu follow pas https://www.twitch.tv/akaruu ???)
  RED > ALL colors
*/