#projectTitle,
#projectDescription {
  color: black;
}
#projectTag {
  padding-top: 10px;
  color: gray;
  font-size: 10px;
}
#projectItem {
  display: flex;
}
#projectList {
  padding: 75px;
  padding-left: 190px;
  padding-right: 190px;
}
#projectRight {
  padding-left: 10px;
}
#projectTitle {
  font-size: 22px;
}
#projectRight {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}
#projectDescription {
  padding-top: 5px;
}
#projectListItem {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#projectItem {
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  min-width: 1000px;
}
#projectItem:hover {
  background-color: rgb(228, 228, 228)
}
/* @media screen and (max-width: 500px) { */
  #projectItem {
    min-width: auto;
  }
/* } */
#search {
  display: flex;
  padding: 15px;
  padding-top: 25px;
  justify-content: center;
  align-items: center;
}
#search-txt {
  color: black;
  height: 24px;
}
#search-but {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}